@import '../../root.css';

/*-------------
  General
-------------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
  white-space: pre-wrap;

  & nav {
    list-style: none;
  }

  & a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
  }

  & a:hover {
    opacity: 1;
  }

  & hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #2196F3;
  font-weight: 800;
  text-align: center;
}

.btn:disabled {
  color: #fff;
  cursor: not-allowed;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #ccc;
  font-weight: 800;
  text-align: center;
}


.btn-contact {
  cursor: pointer;
  width: 150px;
  height: 36px;
  margin-top: 30px;
  border-radius: 37.5px;
  background-color: #b13ee5;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @media (--desktop) {
    margin-top: 40px;
    width: 200px;
    height: 48px;
    border-radius: 50px;
  }
  & .txt {
    height: 12px;
    margin-left: 42px;
    font-size: 12px;
    line-height: 1.0;
    color: #ffffff;

    @media (--desktop) {
      height: 18px;
      margin-left: 52px;
      font-size: 18px;
    }
  }
  & .right {
    width: 36px;
    height: 36px;
    margin-top: 30px;
    border-top-right-radius: 37.5px;
    border-bottom-right-radius: 37.5px;
    background-color: #8e2dba;

    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      width: 48px;
      height: 48px;
      margin-top: 40px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    & .icn-arrowforward {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

/*----------------
  Hero Section
----------------*/

.hero {
  background-image: linear-gradient(to bottom, #3c96d2, #3ee5ac);
  color: #fff;
  text-align: center;
  min-height: 600px;

  display: flex;
  justify-content: center;
  align-self: stretch;
  & .header {
    margin: 20px;
    padding: 0 30px;
    width: 100%;
    color: #fff;

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (--desktop) {
      flex-direction: row;
    }

    & h2 {
      margin-bottom: 15px;
      @media (--desktop) {
        margin-bottom: 0;
      }
    }

    & nav {
      display: flex;
      & li {
        margin: 0 5px;
        height: 12px;
        font-size: 12px;
        line-height: 1.0;
        text-align: center;
        @media (--desktop) {
          width: 82px;
          height: 20px;
          font-size: 20px;
        }
        & a {
          color: #ffffff;
        }
      }
      & li:first-child {
        margin-left: 0;  
      }
      & li:last-child {
        margin-right: 0;  
      }
    }
  }

  & h1 {
    font: bold 24px 'Open Sans', sans-serif;
    margin-top: 48px;
    margin-bottom: 24px;
    width: 790px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    @media (--desktop) {
      font: 48px 'Open Sans', sans-serif;
      margin-top: 116px;
      font-weight: 300;
    }
  }

  & .body {
    width: 820px;
    background-image: var(--icBgOvals);

    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      font: normal 9px 'Open Sans', sans-serif;
      height: 56px;
      font-family: NotoSansCJKkr-Demi;
      font-weight: 300;
      line-height: 1.56;
      text-align: center;
      color: #ffffff;

      display: flex;
      justify-content: center;
      align-items: center;
      @media (--desktop) {
        font: 18px 'Open Sans', sans-serif;
        font-weight: 300;
      }
    }

    & .img-wrapper {
      width: 60vw;
      margin-top: 44px;
      margin-bottom: 24px;
      @media (--desktop) {
        margin-top: 36px;
        margin-bottom: 60px;
      }
    }

    & a.btn {
      padding: 15px 40px;

      @media (--desktop) {
        padding: 0;
      }
    }
  }
}

/*----------------------
  company Section
----------------------*/

.company {
  margin-top: 120px;
  background-color: #fff;
  align-self: stretch;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (--desktop) {
    align-items: flex-start;
  }

  & .intro {
    align-self: stretch;
    padding: 0 20%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      padding: 0 9%;

      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    & .left {
      display: flex;
      flex-direction: column;

      & .title {
        font-size: 10px;
        line-height: 1.0;
        color: #b03ee5;

        display: flex;
        flex-direction: row;
        align-self: center;

        @media (--desktop) {
          font-size: 18px;
          align-self: flex-start;
        }
      }
      & .header {
        margin-top: 7px;
        height: 48px;
        font-size: 18px;
        line-height: 1.33;
        color: #222222;
        align-self: center;
        text-align: center;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;

        @media (--desktop) {
          margin-top: 10px;
          width: 100%;
          height: 96px;
          font-size: 36px;
          align-self: flex-start;
          text-align: left;
        }
      }
      & .body {
        margin-top: 12px;
        width: 100%;
        height: 70px;
        font-size: 9px;
        line-height: 1.56;
        color: #a2a2a2;

        display: flex;
        flex-direction: row;
        text-align: center;

        @media (--desktop) {
          margin-top: 24px;
          width: 362px;
          height: 140px;
          font-size: 18px;
          text-align: left;
        }
      }
    }

    & .right {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      @media (--desktop) {
        margin-top: 60px;
        margin-right: 60px;
      }
      & .img-iphonehand {
        width: 18vw;
        height: 26vw;
      }
    }
  }

  & .philosophy {
    margin-top: 120px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #fafafa;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      padding-top: 120px;
      padding-bottom: 200px;
      padding-left: 9%;
      padding-right: 9%;
    }

    & .title {
      font-size: 10px;
      line-height: 1.0;
      color: #b03ee5;

      display: flex;
      flex-direction: row;
      align-self: center;

      @media (--desktop) {
        align-self: flex-start;
        font-size: 18px;
      }
    }

    & .header {
      margin-top: 10px;
      font-size: 18px;
      line-height: 1.33;
      color: #222222;
      align-self: center;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;

      @media (--desktop) {
        font-size: 36px;
        align-self: flex-start;
      }
    }

    & .body {
      margin-top: 48px;
      width: 100%;
      font-size: 10px;
      line-height: 1.56;
      color: #a2a2a2;

      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;

      @media (--desktop) {
        font-size: 18px;
        margin-top: 24px;
        flex-direction: row;
        justify-content: center;
      }
      & .card {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (--desktop) {
          align-items: flex-start;
          margin-top: 24px;
        }

        & .title {
          margin-top: 16px;
          height: 14px;
          font-size: 11px;
          line-height: 1.4;
          color: #222222;
          align-self: center;

          @media (--desktop) {
            align-self: flex-start;
            margin-top: 32px;
            height: 28px;
            font-size: 20px;
          }
        }

        & .icn {
          width: 24px;
          height: 24px;

          @media (--desktop) {
            width: 48px;
            height: 48px;
          }
        }

        & .content {
          margin-top: 24px;
          height: 56px;
          font-size: 11px;
          line-height: 1.56;
          color: #a2a2a2;

          @media (--desktop) {
            align-self: flex-start;
            margin-top: 12px;
            height: 28px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

/*--------------------
  Product Section
---------------------*/
.product {
  align-self: stretch;
  margin-top: 30px;
  padding-bottom: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin-top: 40px;
    
    @media (--desktop) {
      margin-top: 100px;
      padding-bottom: 40px;
    }

    & .title {
      height: 18px;
      font-size: 10px;
      line-height: 1.0;
      color: #b03ee5;

      @media (--desktop) {
        font-size: 18px;
      }
    }
    & .info {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.0;
      text-align: center;

      @media (--desktop) {
        margin-top: 22px;
        font-size: 32px;
      }
    }
    & .description {
      font-size: 10px;
      line-height: 1.56;
      text-align: center;
      color: #a2a2a2;

      @media (--desktop) {
        font-szie: 18px;
      }

      & .img-iphone {
        padding-top: 25px;
        width: 80%;
        object-fit: contain;

        @media (--desktop) {
          padding-top: 56px;
          font-szie: 32px;
        }
      }
    }
    & .btns {
      margin-top: 20px;
      height: 24px;
      margin-bottom: 40px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (--desktop) {
        height: 48px;
        margin-top: 36px;
      }
      & a {
        margin: 8px;
        width: 160px;
        height: 32px;
        opacity: 0.54;
        border-radius: 100px;
        background-color: #b13ee5;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
        font-size: 10px;
        line-height: 1.0;
        text-align: center;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (--desktop) {
          font-size: 18px;
          height: 48px;
          width: 200px;
        }
      }
    }
  }
  & .right {
    z-index: 100;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: #8e2dba;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    & .icn-arrowforward {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

/*--------------------
  member Section
--------------------*/
.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-self: stretch;
  background-color: #3c96d2;
  & .title {
    margin-top: 80px;
    font-size: 14px;
    line-height: 1.0;
    text-align: center;
    color: #ffffff;
    @media (--desktop) {
      margin-top: 95px;
      font-size: 18px;
    }
  }
  & .content {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    @media (--desktop) {
      justify-content: center;
      flex-direction: row;
    }
    & .box {
      width: 200px;
      height: 365px;
      background-color: #ffffff;

      display: flex;
      flex-direction: column;
      align-items: center;

      & .pic {
        width: 68px;
        height: 82px;
        margin-top: 30px;
        border-radius: 50%;
        background-color: #9db2f7;
      }
      & .name {
        margin-top: 24px;
        height: 18px;
        font-size: 10px;
        font-weight: bold;
        line-height: 1.0;
        text-align: center;
        color: #222222;

        @media (--desktop) {
          font-size: 18px;
        }
      }
      & .position {
        margin-top: 10px;
        font-size: 8px;
        font-style: italic;
        line-height: 1.0;
        text-align: center;
        color: #b03ee5;

        @media (--desktop) {
          font-size: 14px;
        }
      }
      & .introduction {
        margin-top: 16px;
        width: 137px;
        height: 56px;
        font-size: 8px;
        line-height: 1.57;
        text-align: center;
        color: #a2a2a2;

        @media (--desktop) {
          font-size: 14px;
        }
      }
      & .underline {
        margin-top: 40px;
        width: 56px;
        height: 2px;
        background-color: #b03ee5;
      }
      & .sns {
        margin-top: 14px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        align-self: stretch;
        flex-direction: row;
        justify-content: space-around;
        & i {
          color: #8e2dba;
          width: 8px;
          height: 8px;
          cursor: pointer;

          @media (--desktop) {
            margin-top: 17.1px;
            width: 14.5px;
            height: 14.5px;
          }
        }
      }
    }
  }
  & .btn {
    margin-top: 60px;
    margin-bottom: 80px;
    width: 200px;
    height: 48px;
    border-radius: 100px;
    font-size: 11px;
    line-height: 1.0;
    border: solid 2px #ffffff;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;

    @media (--desktop) {
      margin-top: 72px;
      margin-bottom: 115px;
      width: 200px;
      height: 48px;
      border-radius: 100px;
      font-size: 18px;
    }
  }
}

/*---------------------
  Contact Section
---------------------*/
.contact {
  margin-top: 80px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: stretch;

  @media (--desktop) {
    margin-top: 120px;
    margin-bottom: 160px;
  }

  & .title {
    font-size: 11px;
    line-height: 1.0;
    color: #b03ee5;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      font-size: 18px;
    }
  }

  & .header {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #222222;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      font-size: 36px;
    }
  }

  & .description {
    margin-top: 24px;
    font-size: 10px;
    line-height: 1.56;
    text-align: center;
    color: #a2a2a2;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      font-size: 18px;
    }
  }
}

/*-------------
  Footer
-------------*/

.footer {
  align-self: stretch;
  color: #fff;
  background-color: rgb(57,61,122);
  text-align: center;
  height: 48px;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (--desktop) {
    height: 96px;
  }

  & p {
    font-size: 11px;
    line-height: 1.0;
    text-align: center;
    color: #ffffff;

    @media (--desktop) {
      font-size: 20px;
    }
  }
}