@custom-media --mobile (max-width: 768px);
@custom-media --tablet (min-width: 480px);
@custom-media --desktop (min-width: 769px);

:root {
  --cooniGradient: linear-gradient(to bottom right, rgb(12, 157, 197), rgb(201, 109, 216));
  --cooniGradientHorizontal: linear-gradient(to right, rgb(12, 157, 197), rgb(201, 109, 216));
  --cooniTxtColor: rgb(13, 157, 197);
  --cooniGrey: rgb(227, 227, 227);
  --cooniBtnGrey: rgba(0, 0, 0, 0.4);

  --fontSize: 1em;
  --titleHeight: 60px;
  --drawerSize: 256px;
  --icBgOvals: image-set(
    url("../../../assets/icons/bg-ovals.png") 1x,
    url("../../../assets/icons/bg-ovals.png") 2x,
    url("../../../assets/icons/bg-ovals.png") 3x
  );
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height:1;

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template: 1fr/1fr;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:grid;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:grid;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
